<div class="modal-header">
  <h4 class="modal-title">Mon Panier</h4>
  <button type="button" class="close" aria-label="Close" (click)='modalRef.hide()'>
    <span aria-hidden="true">x</span>
  </button>
</div>
<form>
<div class="modal-body">

    <table class="table table-stripped">
      <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Quantité</th>
      </tr>
    </table>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary">Valider</button>
  </div>
  </form>

