<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">


          <div >
            <div style="display: flex; justify-content: space-between;">
            <diV>
              <a href="#addEmployeeModal" class="btn btn-success" (click)="openModal()" data-toggle="modal">Ajouter</a>
            </diV>
            <div>
            <a href="#deleteEmployeeModal" class="btn btn-danger" (click)="supprimerTous()" data-toggle="modal">Supprimer</a>
          </div>

          </div>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              <span class="custom-checkbox">
                <input type="checkbox" [(ngModel)]="masterSelected" (change)="checkUncheckAll()"  id="selectAll">
                <label for="selectAll"></label>
              </span>
            </th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of checklist |  paginate : {itemsPerPage: nbrperpage, currentPage: p, totalItems: total}">
            <td>
              <span class="custom-checkbox">
                <input type="checkbox" [(ngModel)]="item.isSelected"  name="list_name" value="{{item.id}}">
                <label for="checkbox1"></label>
              </span>
            </td>
            <td>{{item.name}}</td>
            <td>{{item.prix}}</td>
            <td>
              <a style="cursor: pointer;"  class="edit" data-toggle="modal"  (click)="editModal(item)" >
                <i class="fas fa-edit text-warning" title="Edit"></i></a>
              <a  style="cursor: pointer; margin-left: 10px;" class="delete" data-toggle="modal">
                <i (click)="confirmer(item)" class="fas fa-trash text-danger" data-toggle="tooltip" title="Delete"></i></a>
            </td>
          </tr>
        </tbody>

      </table>
      <pagination-controls class="pagi" (pageChange)="p = $event ; UncheckedAll()"></pagination-controls>

         </div>
  </div>
</div>
