
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../../../assets/img/chicken.jpeg">
    <div class="card-body">
      <h5 class="card-title">{{plat.nomPlat}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6 bg-success" style="display: flex; justify-content: center; align-items: center; border-radius: 2px;">{{plat.prixPlat}} AR</div>
        <div lass="col-lg-6" style="display: flex; justify-content: center;"><button (click)="addToChart(plat)" class="btn btn-warning">Ajouter au panier</button></div>
      </div>


    </div>
  </div>

