<div class="modal-header">
  <h4 class="modal-title">Ajout Plat</h4>
  <button type="button" class="close" aria-label="Close" (click)='modalRef.hide()'>
    <span aria-hidden="true">x</span>
  </button>
</div>
<form>
<div class="modal-body">

    <label>Nom</label>
    <input [(ngModel)]="sakafo.nomPlat" name="nom" class="form-control">
    <label>Prix</label>
    <input name="adresse" class="form-control">

  </div>
  <div class="modal-footer">
    <button  (click)="insert() ; modalRef.hide()" class="btn btn-primary">ajouter</button>
  </div>
  </form>

