<div class="col-lg-12">
  <div class="row">


    <div class="col-lg-6 doughnut">
      <canvas class="chart chart-line" baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType">
      </canvas>
    </div>
    <div class="col-lg-6">
      <div class="chart-wrapper">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
  </div>
</div>
